<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- BOOTSTRAP CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Personal css -->
    <link rel="stylesheet" href="/css/main.css">

    <title>Paulo Oliveira</title>
    <link 
        rel="icon" 
        type="image/png" 
        sizes="32x32" 
        href='https://drive.google.com/uc?export=view&id=10p1V6PZk7a3TI_L3tFLXNEirJFk8-Rs_'
    />
</head>

<body class="d-flex vh-100 text-center text-light bg-dark">
    <div class="container d-flex w-100 h-100 p-3 flex-column">
        {{> header}}
        {{{body}}}
        {{> footer}}
    </div>
    <script src="/js/index.js"></script>
</body>
</html>