<h1>About</h1>

<h2>Certificates</h2>

<div class="row">
    <div class="certificado col-md-6">
        {{#each certificados}}
            <div id="cert-{{this.id}}">
                <p onmouseover="abreCert({{this.imagem}},{{this.descricao}})">{{this.titulo}}</p>
            </div>
        {{/each}} 
    </div>
    <div class="col-md-6">
        <div id="img-cert">
            
        </div>
        <div id="desc-cert">
            <p>
                
            </p>
        </div>
    </div>
</div>
   