{{#with post}}
    <h1>{{title}}</h1> 
    <p>{{category}}</p>
    <p>{{body}}</p>
    <p>Número de comentários: {{comments}}</p>
{{/with}}

<!-- Ou seja, ao invés de post.title, post.category, etc nós encapsulamos o post no with e usamos seus atributos dentro dessa estrutura -->