<h1>Docs</h1>
<p>Here I'll insert the documentation that I'm building on course of my studies.</p>

<button type="button" class="btn btn-secondary btn-docs" onclick="location.href = '/docs/nodejs'">NodeJS</button>

