    {{>header}}

    <main class="container">
        <div class="mb-5">
            <h1>Welcome to my website!</h1>
            <h3>Follow me on social medias!</h3>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class='col-md-4 row'>
                <div class="col-md-6">
                    <a href="https://github.com/pvcdo" onmouseover="abreQr('github')" onmouseleave="fechaQr('github')">GitHub</a>
                </div>
                <div class="col-md-6">
                    <a class="mr-0" href="https://www.linkedin.com/in/opaulo/" onmouseover="abreQr('linkedin')" onmouseleave="fechaQr('linkedin')">Linkedin</a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        
    </main>
    
    <div style="width:300px; height:300px" id="img-qrcode" class="mx-auto mt-2 py-3"></div>
    
