body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color: rgb(207, 207, 207);
}

.cover-container {
    max-width: 42em;
  }

.nav .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav .nav-link:hover,
.nav .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav .nav-link + .nav-link {
    margin-left: 2rem;
}

.nav .active {
    color: #fff;
    border-bottom-color: #fff;
}

a.docs-indice{
    text-align: start;
    padding-left: 100px;
}

button.btn-docs{
    width: 200px;
}

button.btn-about{
    margin-bottom: 20px;
}
