<h2>Seção 2 - Projeto Help Desk</h2>

<p>Tomarei notas de conceitos importantes que foram vistos no projeto de estudo Help desk da aula de php do curso de <a href="https://www.udemy.com/course/web-completo/">desenvolvimento web completo</a>.</p>

<h3>GET e POST</h3>

<p>Ao submeter um formulário a uma página php nós podemos recuperar os dados através dos arrays globais $_GET e $_POST, obviamente dependendo do método de submissão do formulário.</p>