<h2 id="ambiente">[WINDOWS] Preparação do ambiente</h2>

<P>Importante lembrar que este curso possui a preparação do ambiente para outros sistemas operacionais.</P>

<h3>Instalação do PHP</h3>

<p>Fomos na área de downloads do php e baixamos arquivo zip correspondente à versão que queremos utilizar e descompactar onde quisermos, no caso da aula nós estamos usando a versão 7.4.6, que o professor disponibilizou para download e descompactamos no c:.</p>

<p>Precisamos colocar o caminho da pasta descompactada dentro das variávies de ambiente do sistema.</p>



<h3>Instalação do composer</h3>

<p>Composer é o gerenciador de pacotes do php. Para instalá-lo, na <a href="https://getcomposer.org/download/">página de download</a> e baixamos o instalador, fazendo o procedimento padrão de instalação do windows, apenas com o detalhe do php.ini.</p>

<p>A instalação foi feita para todos os usuários. Quando chegou na verificação do php.ini o composer não conseguiu identificar esse arquivo na pasta do php. Sendo assim, o professor fez uma cópia de php.ini-development e renomeou esta cópia para php.ini e aceitou que a instalação do composer fizesse as atualizações necessárias nesse arquivo.</p>