<h2 id="secao12-mongoose">Seção 12 - Mongoose</h2>

<h3>O que é uma ODM</h3>

<p>Object Data Mapping, mapeamento de dados por objetos. Serve para facilitar a manipulação de dados no mongoDB.</p>

<p>Uma facilidade é a não necessidade do uso de ObjectId para busca no banco de dados.</p>

<p>Utiliza-se schema para a criação dos bancos, o que vai um pouco contra o conceito do mongo, que é a flexibilidade.</p>

<h3>O que é o Mongoose</h3>

<p>É a ODM mais utilizada pra MongoDB.</p>

<p>É utilizado para fortalecer a modelagem correta do sistema e evitar "bagunça".</p>

<h3>Instalando e conectando</h3>

<p>O primeiro passo é instalar o pacote mongoose através do npm.</p>

<a href="">12_MONGOOSE/1_instalacao</a>
