<!-- TRANSFORMAR ESSA PÁGINA EM INDEX.JS -->

<div id="topo"></div>

<div class="botoes-mov">

    <a href="#topo">
        <button class="botao-mov">
            <i class="fas fa-angle-double-up fa-2x"></i>
        </button>
    </a>

    <a href="#fim">
        <button class="botao-mov">
            <i class="fas fa-angle-double-down fa-2x"></i>
        </button>
    </a>

</div>

<div id='container'>
    <aside>
        <div class="back">
            <a class="home" href="/">Home</a>
            <a class="docs" href="/docs">Docs</a>
        </div>
        <hr>
        <div class="secoes">
            {{#each secoes}}
                <a href="">{{this}}</a>
            {{/each}}
        </div>
    </aside>

    <main>

        <h1 id="notas-de-aula">Notas de aula</h1>

        <p>Aqui tomarei notas das aulas do curso. Conteúdos anexos estão na <a
                href="https://drive.google.com/drive/u/0/folders/1-BDX1uVmXzaEx20gu1QcOFfwD1bsQh8O">pasta do
                drive</a>.</p>

        <p>Os códigos de exercícios, tarefas e estudos extras estão no <a
                href="https://github.com/pvcdo/estudos-nodejs">Github</a>.</p>
        
        {{#each secoes}}
            {{>"views\partials\docs\nodejs\secao1-introducao.handlebars"} 
        {{/each}}
        

    <div id="fim"></div>

    <!-- INSERIR APROFUNDAR EM AQUI -->

    </main>
</div>